body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: sans-serif;
}

.conatiner{
    width: 100%;
    text-align: center;
    margin-top: 100px;

}

#title{
    text-align: center;
    font-size: 50px;
    color: chocolate;
}


#inputText{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 3px solid orange;
    border-radius: 15px;
    color: blueviolet;
}

#addToDo{
    height: 45px;
    width: 80px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: rgb(204, 207, 12);
    color: white;
    text-align: center;
    border-radius: 10px;

}

#addToDo:active{
    background: rgb(1, 100, 14);
}

#clearToDo{
    height: 45px;
    width: 100px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: rgb(159, 235, 19);
    color: white;
    text-align: center;
    border-radius: 10px;

}


#clearToDo:active{
    background: rgb(1, 100, 14);
}

.paragraph-styleing{
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    color: purple;
    text-transform: capitalize;
}

.to-do{
    margin-top: 25px;
    
}